/* 
    This CSS file was created by OwL for use by pointer.js, 
     witch can be found on https://seattleowl.com. 
*/

#pointer-dot {
    left: 0;
    top: 0;
    width: 6px;
    height: 6px;
    background-color: var(--color);
    position: fixed;
    border-radius: 4px;
    z-index: 101;
    pointer-events: none;
    transition: background-color 0.5s;
}

#pointer-ring {
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    padding: 15px;
    border:1px solid var(--color) !important;
    position: fixed;
    color: var(--color);
    border-radius: 100px;
    z-index: 102;
    pointer-events: none;
    transition: border .5s;
}

html {
    cursor: none !important;
}


